[submodule "Client/Sample_Unity/Packages/.Module.UnityStudyImporter"]
	path = Client/Sample_Unity/Packages/.Module.UnityStudyImporter
	url = https://gitlab.com/dante.distribution.individual/0300000001.module_unitystudyimporter_client.git
[submodule "Sample_Unity/Packages/.Module.UnityStudyImporter"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonImporter"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonImporter
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonimporter_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonImporter"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityStudy"]
	path = Client/Sample_Unity/Packages/.Module.UnityStudy
	url = https://gitlab.com/dante.distribution.individual/0300000001.module_unitystudy_client.git
[submodule "Sample_Unity/Packages/.Module.UnityStudy"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityStudyDefine"]
	path = Client/Sample_Unity/Packages/.Module.UnityStudyDefine
	url = https://gitlab.com/dante.distribution.individual/0300000001.module_unitystudydefine_client.git
[submodule "Sample_Unity/Packages/.Module.UnityStudyDefine"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityStudyUtility"]
	path = Client/Sample_Unity/Packages/.Module.UnityStudyUtility
	url = https://gitlab.com/dante.distribution.individual/0300000001.module_unitystudyutility_client.git
[submodule "Sample_Unity/Packages/.Module.UnityStudyUtility"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommon"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommon
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommon_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommon"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonDefine"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonDefine
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommondefine_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonDefine"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonAccess"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonAccess
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonaccess_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonAccess"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonFactory"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonFactory
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfactory_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonFactory"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonExtension"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonExtension
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonextension_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonExtension"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonFunc"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonFunc
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfunc_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonFunc"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonUtility"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonUtility
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonutility_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonUtility"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonExternals"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonExternals
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonexternals_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonExternals"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonAds"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonAds
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonads_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonAds"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonFlurry"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonFlurry
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonflurry_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonFlurry"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonFacebook"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonFacebook
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfacebook_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonFacebook"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonFirebase"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonFirebase
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfirebase_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonFirebase"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonAppsFlyer"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonAppsFlyer
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonappsflyer_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonAppsFlyer"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonGameCenter"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonGameCenter
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommongamecenter_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonGameCenter"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonPurchase"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonPurchase
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonpurchase_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonPurchase"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonNoti"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonNoti
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonnoti_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonNoti"]
	branch = main
[submodule "Client/Sample_Unity/Packages/.Module.UnityCommonPlayfab"]
	path = Client/Sample_Unity/Packages/.Module.UnityCommonPlayfab
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonplayfab_client.git
[submodule "Sample_Unity/Packages/.Module.UnityCommonPlayfab"]
	branch = main
[submodule "Client/Sample_Unity/NativePlugins"]
	path = Client/Sample_Unity/NativePlugins
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_nativeplugins_client.git
[submodule "Sample_Unity/NativePlugins"]
	branch = main
[submodule "Client/Sample_Unity/UnityPackages"]
	path = Client/Sample_Unity/UnityPackages
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitypackages_client.git
[submodule "Sample_Unity/UnityPackages"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityStudyImporter"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityStudyImporter
	url = https://gitlab.com/dante.distribution.individual/0300000001.module_unitystudyimporter_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityStudyImporter"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonImporter"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonImporter
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonimporter_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonImporter"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityStudy"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityStudy
	url = https://gitlab.com/dante.distribution.individual/0300000001.module_unitystudy_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityStudy"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityStudyDefine"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityStudyDefine
	url = https://gitlab.com/dante.distribution.individual/0300000001.module_unitystudydefine_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityStudyDefine"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityStudyUtility"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityStudyUtility
	url = https://gitlab.com/dante.distribution.individual/0300000001.module_unitystudyutility_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityStudyUtility"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommon"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommon
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommon_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommon"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonDefine"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonDefine
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommondefine_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonDefine"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonAccess"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonAccess
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonaccess_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonAccess"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFactory"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFactory
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfactory_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonFactory"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonExtension"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonExtension
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonextension_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonExtension"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFunc"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFunc
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfunc_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonFunc"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonUtility"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonUtility
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonutility_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonUtility"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonExternals"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonExternals
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonexternals_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonExternals"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonAds"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonAds
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonads_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonAds"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFlurry"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFlurry
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonflurry_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonFlurry"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFacebook"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFacebook
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfacebook_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonFacebook"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFirebase"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonFirebase
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfirebase_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonFirebase"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonAppsFlyer"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonAppsFlyer
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonappsflyer_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonAppsFlyer"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonGameCenter"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonGameCenter
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommongamecenter_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonGameCenter"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonPurchase"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonPurchase
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonpurchase_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonPurchase"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonNoti"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonNoti
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonnoti_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonNoti"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonPlayfab"]
	path = Client/0300010101.Sample_Unity/Packages/.Module.UnityCommonPlayfab
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonplayfab_client.git
[submodule "0300010101.Sample_Unity/Packages/.Module.UnityCommonPlayfab"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/NativePlugins"]
	path = Client/0300010101.Sample_Unity/NativePlugins
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_nativeplugins_client.git
[submodule "0300010101.Sample_Unity/NativePlugins"]
	branch = main
[submodule "Client/0300010101.Sample_Unity/UnityPackages"]
	path = Client/0300010101.Sample_Unity/UnityPackages
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitypackages_client.git
[submodule "0300010101.Sample_Unity/UnityPackages"]
	branch = main
