[submodule "Client/Module_Unity/Packages/.Module.Unity.ImporterResearch"]
	path = Client/Module_Unity/Packages/.Module.Unity.ImporterResearch
	url = https://gitlab.com/lkstudio.dante.common/0300000001.module_unityresearchimporter.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Importer"]
	path = Client/Module_Unity/Packages/.Module.Unity.Importer
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonimporter.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Research"]
	path = Client/Module_Unity/Packages/.Module.Unity.Research
	url = https://gitlab.com/lkstudio.dante.common/0300000001.module_unityresearch.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.DefineResearch"]
	path = Client/Module_Unity/Packages/.Module.Unity.DefineResearch
	url = https://gitlab.com/lkstudio.dante.common/0300000001.module_unityresearchdefine.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.UtilityResearch"]
	path = Client/Module_Unity/Packages/.Module.Unity.UtilityResearch
	url = https://gitlab.com/lkstudio.dante.common/0300000001.module_unityresearchutility.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity"]
	path = Client/Module_Unity/Packages/.Module.Unity
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommon.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Define"]
	path = Client/Module_Unity/Packages/.Module.Unity.Define
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommondefine.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Access"]
	path = Client/Module_Unity/Packages/.Module.Unity.Access
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonaccess.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Factory"]
	path = Client/Module_Unity/Packages/.Module.Unity.Factory
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfactory.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Extension"]
	path = Client/Module_Unity/Packages/.Module.Unity.Extension
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonextension.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Function"]
	path = Client/Module_Unity/Packages/.Module.Unity.Function
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfunction.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Utility"]
	path = Client/Module_Unity/Packages/.Module.Unity.Utility
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonutility.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.UnityExternals"]
	path = Client/Module_Unity/Packages/.Module.UnityExternals
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonexternals.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Ads"]
	path = Client/Module_Unity/Packages/.Module.Unity.Ads
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonads.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Flurry"]
	path = Client/Module_Unity/Packages/.Module.Unity.Flurry
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonflurry.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Facebook"]
	path = Client/Module_Unity/Packages/.Module.Unity.Facebook
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfacebook.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Firebase"]
	path = Client/Module_Unity/Packages/.Module.Unity.Firebase
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonfirebase.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.AppsFlyer"]
	path = Client/Module_Unity/Packages/.Module.Unity.AppsFlyer
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonappsflyer.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.GameCenter"]
	path = Client/Module_Unity/Packages/.Module.Unity.GameCenter
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommongamecenter.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Purchase"]
	path = Client/Module_Unity/Packages/.Module.Unity.Purchase
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonpurchase.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Notification"]
	path = Client/Module_Unity/Packages/.Module.Unity.Notification
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonnotification.git
	branch = main
[submodule "Client/Module_Unity/Packages/.Module.Unity.Playfab"]
	path = Client/Module_Unity/Packages/.Module.Unity.Playfab
	url = https://gitlab.com/9tapmodule.repository/0300000001.module_unitycommonplayfab.git
	branch = main
[submodule "Client/Module_Unity/Modules/.Module.Unity.NativePlugins"]
	branch = main
[submodule "Client/Module_Unity/Modules/.Module.Unity.Packages"]
	branch = main
