<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901793565216-87spkmst5hbea81plged6hmprobq2d2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901793565216-87spkmst5hbea81plged6hmprobq2d2p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>901793565216-4suame2f62m3jb8lakikh1jdl0lcvvpe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtj4Yji8Jda_ap_XjmD0PgXDxthT-UBgc</string>
	<key>GCM_SENDER_ID</key>
	<string>901793565216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dante.distribution.sample</string>
	<key>PROJECT_ID</key>
	<string>sample-61739440</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-61739440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901793565216:ios:be45541f24f6cbbe4a8a45</string>
	<key>DATABASE_URL</key>
	<string>https://sample-61739440.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4429226069711533~9313515606</string>
</dict>
</plist>